<!doctype html>
<html class="no-js" lang="English">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Numerology Form</title>
        <meta name="description" content="Form">
        
    </head>
    <body>
       
    <form>
      Enter your birthdate: <br>
        <input type="text" name="birthdate">
        <br>
        
    </form>
       
        
    </body>
</html>